aside {
    width: 250px
}

.row {
    padding-top: 3ch;
}
/*navbar*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    border-bottom-style:groove;
    font-family: 'Baskerville', sans-serif;
    padding-bottom: 2%;
    border-width: 0.02cm;
    
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
 
  color: rgb(0, 0, 0);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.input-group-append {
    display: flex;
    flex-direction: column
}

.input-group {

    display: flex;
    flex-direction: column;
    width: 250px
}

#red-input {
    margin-bottom: 10px;
    width: 300px;
    
    align-items: center;

}


#blue-button, #red-button, #orange-button {
    font-family: 'Baskerville', sans-serif;
    font-weight: bold;
    color: #000000;
    display: block;
    position: relative;
    text-align: center;
    background-color: #0099cc;
    border: none;
  }
  #blue-button:after, #red-button:after, #orange-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
      -webkit-transition: none;
         -moz-transition: none;
              transition: none;
  }
  #blue-button:hover:after, #red-button:hover:after, #orange-button:hover:after{
    width: 120%;
    background-color: rgba(255, 0, 0, 0);
    
      -webkit-transition: all 0.4s ease-in-out;
         -moz-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
  }

  #blue-button {
    background-color: rgba(250, 0, 0, 0.658);
    border-style:ridge;
  }


#form-heading {
    font-weight:100;
    font-size: 2.5vh;
    text-align: left;
    font-family: 'Baskerville', sans-serif;
}

header {

    padding: 5px;
}





#page-heading {
    font-family: 'Baskerville', sans-serif;
    font-size: 9vh;
    border-style:groove;
    border-width: 0.02cm;
    background: rgb(255,255,255);

}

#forecastheader {
    font-family: 'Baskerville', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 6vh;
    padding-top: 20px;
    text-decoration-line: underline;
    
    

}

#forecast {
    font-family: 'Baskerville', sans-serif;
    visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#today {
    /* font-family: 'Baskerville', sans-serif; */
    visibility: hidden;
    text-align: center;
    font-size:larger;
    /* font-weight: bold; */
   background-color:  #ffffff;
   
}


footer #footer {
    font-family: 'Baskerville', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer h6 {
    font-size: 16px;
}

p {
    text-align: center;
    font-size: 25px;
    color: red;
}



@media screen and (max-width: 600px) {

    #forecast {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    #red-button #clear-button {
        width: 100%
    }

    #red-input {
        width: auto;
        
        align-items: center;

    }

    #form-heading {
        position: static;
        font-size: medium;
        text-align: center;
        
        
        
    }

 img {
    width: 100%;}
}